<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Carpooling - Share your Rides!</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- Bootstrap - JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- Bootstrap icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet" type="text/css">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link href="css/profile.css" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-light bg-light static-top">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="search.html">Carpooling - Share your rides!</a>
     <div>
         <a class="btn btn-primary float-end ms-3" href="#!">Menu</a>
         <a class="btn btn-primary float-end ms-3" href="#!">Logout</a>
     </div>
  </div>
</nav>


<header class="masthead">
 <div class="container position-relative">



   <div class="d-flex justify-content-center align-items-center">
     <h1 class="text-center">Profile Settings</h1>
   </div>

    <div class="row justify-content-center">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center "><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
      </div>
      <div class="col-md-9 border-right">

          <div class="row mt-2">
            <div class="col-md-6">
                <label class="labels">Name</label>
                <input type="text" class="form-control" placeholder="first name" value="">
            </div>
            <div class="col-md-6">
                <label class="labels">Surname</label>
                <input type="text" class="form-control" value="" placeholder="surname">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
                <label class="labels">E-Mail</label>
                <input type="text" class="form-control" placeholder="Enter E-Mail" value="">
            </div>
            <div class="col-md-6">
                <label class="labels">Mobile Number</label>
                <input type="tel" class="form-control" placeholder="enter phone number" value="">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
                <label class="labels">Country</label>
                <input type="text" class="form-control" placeholder="country" value="">
            </div>
            <div class="col-md-6">
                <label class="labels">State/Region</label>
                <input type="text" class="form-control" value="" placeholder="state">
            </div>
          </div>

          <div class="col-md-12 mt-3 text-center">
              <button class="btn btn-primary" type="button">Save Profile</button>
          </div>

      </div>

    </div>
  </div>
</header>


</body>
</html>
